.bk

{

    background-image: url("bak.jpg");

    background-repeat: no-repeat;
 
    background-size: cover;
 
    background-position: center;
 
    background-attachment: fixed;

}

header
{

    background-image: url("bak.jpg");

    background-repeat: no-repeat;
 
    background-size: cover;

    padding: 40px 0;
}

nav li

{
    display: inline;

    margin: 0 0 0 15px;
}

.box

{
    position: relative;

    width: 940px;

    margin: 0px auto;
}

nav

{
    position: absolute;
    
    top: 110px;

    right: 0px;

}

nav a

{
    text-transform: uppercase;

    color: black;

    font-weight: bold;

    font-size: 22px;

    text-decoration: none;

    transition: 1s all;
}

nav a:hover

{

    color: blue;

}

footer

{

    text-align: center;

    background-image: url("bak.jpg");

    background-repeat: no-repeat;
 
    background-size: cover;

    padding: 40px 0;

}

.copy

{

    color: black;

    font-size: 15px;

    margin-top: 15px;


}

main

{

    width: 940px;

    margin: 0 auto;

}

form

{

    margin: 40px 0;

}

form label , form legend

{

    display:block;

    font-size: 20px;

    margin: 0 0 10px;
     
}

.input-padrão

{

    display: block;

    margin: 0 0 20px;

    padding: 10px 25px;

    width: 50%;

}

.checkbox

{

    margin: 20px 0;

}

.enviar

{

    width: 40%;

    padding: 15px 0;

    background-color: black;

    color: white;

    font-weight: bold;

    font-size: 18px;

    border: none;

    border-radius: 5px;

    transition: 1s all;

    cursor: pointer;

}

.enviar:hover

{

    background-color: blue;

    transform: scale(1.2);

}

table

{

    margin: 20px 0 40px;

}

thead

{

    background-color: aliceblue;

    color: black;

    font-weight: bold;

}

td , th

{

    border: 1px solid black;

    padding: 8px 15px;

}

tbody

{

    background-color: aliceblue
    
}